  {{ DEVICE }}:
    alias: {{ ALIAS }}
    os: {{ OS }}
    type: {{ TYPE }}
    connections:
      defaults:
        class: {{ CLASS }}
      mock:
        command: {{ COMMAND }}
        protocol: {{ PROTOCOL }}

    custom:
      abstraction:
        order: {{ ORDER }}


